{% extends 'index.html' %}

{% block content %}
<div class="page-content">
  <h2>what's all this about then?</h2>
  <p>Check out <a href="http://cultofthepartyparrot.com/">http://cultofthepartyparrot.com/</a>. The party parrot recently took over our Slack at <a href="https://www.rainforestqa.com/">RainforestQA</a> and I thought that was not quite enough. Now, using <b>party*</b>, you can make any image party with you!</p>

  <ol id="about-steps">
    <li>Choose an image.</li>
    <li>Upload it on <a href="{{ url_for('home') }}">the main page.</a></li>
    <li>Party hard.</li>
    <li>Use it as a <a href="https://get.slack.help/hc/en-us/articles/206870177-Creating-custom-emoji">custom emoji</a> on Slack.</li>
  </ol>

  <p>Feel free to play around with this <a href="https://github.com/maciejgryka/partyasterisk">very serious and sophisticated codebase</a> on GitHub.</p>
</div>
{% endblock content %}
