description "nginx http daemon"

start on (filesystem and net-device-up IFACE=lo)
stop on runlevel [!2345]

env DAEMON={{ nginx_sbin_path }}
env PID={{ nginx_pid_path }}

expect fork
respawn
respawn limit 10 5
#oom never

pre-start script
    $DAEMON -t
    if [ $? -ne 0 ]
        then exit $?
    fi
end script

exec $DAEMON
